* {
  box-sizing: border-box;
}

/*.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}*/

.chart rect {
  fill: steelblue;
}

/*.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end; end is for side to side charts
}*/

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: center;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000000;
  shape-rendering: crispEdges;
}
